.profile__photo img {
    width: 40rem;
    opacity: 0.7;
}

.job {
    margin-bottom: 50px;
}
.h1 {
    font-weight: bold;
    padding-bottom: 10px;
}
.descrIcon {
    cursor: pointer;
}

.descrIcon > img {
    border-radius: 50%;
}
